@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #222529;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  body {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.0em;
    line-height: 1.2;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  border-bottom: 2px dotted #ccc;
  padding-bottom: 0.2em;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

blockquote {
  margin: 0em 1em;
  padding: 0.0em 0em;
  border-left: 5px solid #ccc;
  color: #ccc;
}

footer {
  border-top: 2px solid #ffffff;
  padding-top: 1em;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  font-size: 1em;
}

#particles-js {
    text-align: center;
}

.particles-photo {
  width: 25%;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 0.1em;
}

.particles-title {
  margin: 0;
  font-size: 4em;
  font-weight: 500;
  white-space: nowrap;
}

.particles-subtitle {
  margin: 0 0 0.1em 0;
  font-size: 2em;
  font-weight: 200;
}

.icon-style {
  width: 50px;
  height: 50px;
  stroke-width: 1.5;
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: box-shadow 0.3s ease, stroke 0.3s ease;
}

.icon-style:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
  stroke: #ffeb3b;
}

.emoji {
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.emoji:hover {
  transform: scale(2);
  filter: drop-shadow(0 0 8px rgba(205, 228, 23, 0.916));
}